.pagination-container {
    gap: .5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .pagination-button {
        padding: .5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}