.main-details-container {
    background-color: #287375;
    flex-grow: 1;
    width: 100%;

    .section-subtitle {
        color: white;
    }

}

.contenedor-info-ferrariSf90 {
    display: flex;
    box-shadow: inset 1px 1px 150px #000;
    margin: 20px 0;

    .car-image {
        padding: 20px 20px;
        position: relative;
        width: 50%;
        
        img {
            width: 100%;
        }
    }

    .car-details {
        width: 50%;
    }

    .product-price-details {
        display: flex;
        margin: 5px 50px;
        justify-content: center;
        box-shadow: inset 1px 1px 15px #000;
        color: white;
    }

    .informacion-ferrarisf90 {

        p {
            padding: 5px 20px 20px;
            text-align: center;
            color: white;
        }

        .section-title {
            color: #000000;
        }
    }

    .input-group {
        display: flex;
        flex-direction: column;
        padding: 0 50px;

        button {
            padding: .5rem 1rem;
            background-color: rgba(0, 0, 0, 0.452);
            border-radius: 4px;
            color: white;
            cursor: pointer;
            transition: all .3s;
            border: 1px solid white;
            margin-bottom: 10px;

            &:hover {
                background-color: #287375;
                color: white;
            }
        }

        .btn-pantalla-principal {
            margin-bottom: 20px;
        }
    }
}

@media screen and (width < 768px) {
    .contenedor-info-ferrariSf90 {
        margin: 20px 5px;
        display: flex;
        flex-direction: column;

        .car-image {
            position: relative;
            padding: 0px;
            columns: none;
            width: 100%;

            img {
                width: 100%;
                padding: 5px;
            }
        }

        .car-details {
            width: 100%;
        }

        .informacion-ferrarisf90 {

            .section-title {
                font-size: 20px;
            }

            p {
                padding: 5px 20px 20px;
                text-align: center;
                color: white;
            }
        }
    }

}